body {
    background-image: url(https://cdn1.katadata.co.id/media/images/temp/2021/10/09/Pemandangan_alam_di_Kepulauan_Widi_Halmahera_Selatan_Maluku_Utara-2021_10_09-07_39_21_9871dd83b80117968b90b37dab478d9f.jpg);
    color: white !important;
    background-size: 100%;
    background-position: center;
}
.menu-link a {
    color: white !important;
}

.menu-link a.active {
    background-color: rgba(0, 0, 0, 0.71);
}

.menu-link a:hover {
    background-color: rgba(0, 0, 0, 0.37);
}

.content, .footer, .profile, .menu {
    background-color: rgba(255, 255, 255, 0.21) !important;
    border: 1px solid #ffffff1c !important;
}

button.primary {
    border: 1px solid;
    color: #fff;
    background-color: rgba(159, 151, 151, 0.41);
}

button.outline-secondary {
    color: white;
    border: 1px solid #fff;
    background-color: rgba(181, 181, 181, 0.26);
}