@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 400;
    font-family: 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    background-color:#f5f5f5;
    color:#515151;    
}

a{
    text-decoration:none;
    color:#515151;
}

.container{
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1.5fr;
    grid-template-areas: 
        'sidebar content content'
        'sidebar content content'
        'footer footer footer';
    
    gap: 10px;
    margin: 10px;
}

.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
    background-color: white;
    padding: 10px;
}

.content p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.profile {
    text-align: center;
    background-color: white;
    padding: 25px 10px;
    position: relative;
    overflow: hidden;
}

.profile .bg-half {
    background-image: url(../img/bg-half.png);
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background-size: 280px;
}
.profile img {
    width: 100px;
    border-radius: 100px;
    padding: 3px;
    position: relative;
    background: white;
    margin-top: 25px;
}
.profile .profile-title {
    font-size: 20px;
    text-transform: uppercase;
}
.profile .profile-text {
    font-size: 17px;
    margin: 15px;
    font-style: italic;
    line-height: 1.4em;
}

.footer{
    grid-area: footer;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.menu{
    background-color: white;
    margin-top: 10px;
}

.menu-link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-link a {
    padding: 10px;
    width: 100%;
}

.menu-link a:hover{
    background-color: #ff7f1b;
    color: white;
}

/* Buttons */

.menu-link a.active{
    background-color: #fd7001;;
    color: white;
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: .7em;
    place-content: center;
}

button.primary {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    background-color: #fd7001;
    cursor: pointer;
    font-size: 0.8em;
}

button.primary:hover {
    background-color: #bd5504;
    font-weight: 700;
}

button.outline-secondary {
    padding: 7px 20px;
    border-radius: 25px;
    color: #515151;
    border: 3px solid #515151;
    cursor: pointer;
    background-color: white;
    font-size: 0.8em;
}

button.outline-secondary:hover {
    background-color: #515151;;
    font-weight: 700;
    color: white;
}

#btn-theme-glass{
    position: absolute;
    top: 10px;
    left: 10px; 
    border: 1px solid;
}

@media (max-width: 576px){

    .container{
        display: grid;
        grid-template-columns: unset;
        grid-template-areas: 
            'sidebar sidebar sidebar'
            'content content content'
            'footer footer footer';
        margin: 0;
    }

    .content{
        grid-area: content;
        background-color: white;
        padding: 10px;
        min-height:unset;
    }

    .menu-link {
        display: flex;
        flex-direction: row;
        place-content: center;
        text-align: center;
    }
}
